// main styles

@import "compass/reset";
@import "compass/css3";

//////////////////////////////////////
/////////////////// VARIABLES & MIXINS
$accent-color: #ffa500;

$button-color: adjust-hue($accent-color, -15%);

$red-color: #ff1500;

$body-font: 'Montserrat', sans-serif;

$default-text-shadow-color: rgba(red, 1);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

//////////////////////////////////////
//////////////////////////////////////

// general styles
body {
	margin: 0;
	overflow: hidden;
}

#game {
	border: 1px solid #000;
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	font-size: 40px;
	width: 8em;
	height: 12em;
	background-color: rgb(30, 30, 30);
}

.screen {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
	background-color: $accent-color;

	&.active {
		display: block;
	}

}

// splash screen
#splash-screen {
	background-image: url('../imgs/splash-screen-bg.jpg');
	text-align: center;
	padding-top: 1.5em;

	.continue {
		display: none;
		color: adjust-hue($accent-color, -15%);
		cursor: pointer;
		font-size: 0.70em;
		font-family: $body-font;
	}

}

//progress bar
.progress {
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 0.3em;
	width: 6em;
	height: 0.5em;
	@include border-radius(0.5em);
	overflow: hidden;
	border: 1px solid adjust-hue($accent-color, -15%);

	.indicator {
		background-color: $accent-color;
		height: 100%;
		width: 0%;
	}
}

.logo-c {
	background-color: rgba($accent-color, 0.8);;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.logo {
	@include single-text-shadow;
	font-family: 'Denk One', sans-serif;
	font-size: 1.5em;
	line-height: 60px;
	text-align: center;
	color: #fff;
}

// install screen
#install-screen {
	padding-top: 0.5em;
	text-align: center;

	span {
		color: #fff;
		font-family: $body-font;
		font-size: 0.75em;
		display: inline-block;
		padding: 0 0.5em;
	}
}

// game screen
#game-screen {
	.game-board {
		position: relative;
		width: 8em;
		height: 8em;
	}

	.game-board .board-bg, .game-board .board {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.game-board .board {
		z-index: 10;
	}

	.game-board .board-bg {
		z-index: 0;
	}
}

.screen {
	footer {
		display: block;
		position: absolute;
		bottom: 0;
		height: 1em;
		width: 100%;

		button {
			cursor: pointer;
			margin-left: 0.25em;
			margin-right: 0.25em;
			padding: 0 0.75em;
			font-family: Geo, sans-serif;
			color: rgba(200, 200, 100, 0.5);
			background: rgb(10, 20, 0);
			border: 1px solid rgba(200, 200, 100, 0.5);
			@include border-radius(0.2em);
			outline: none;
		}
	}
}

// main menu
#main-menu {
	background-color: $accent-color;
	padding-top: 1em;
}

ul {
	&.menu {
		text-align: center;
		padding: 0;
		margin: 0;
	}

}

.menu {
	button {
		@include border-radius(0.3em);
		@include box-shadow(#000 2px 2px 5px);
		outline: none;
		border: 0.1em solid $accent-color;
		background-color: $button-color;
		font-family: $body-font;
		text-transform: uppercase;
		color: #fff;
		width: 13em;
		line-height: 2em;

		&:hover {
			@include box-shadow(#000 4px 4px 5px);
			background-color: $red-color;
		}

		&.active {
			background-color: $red-color;
		}
	}
}
